<footer class="container bg-dark py-3">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <mat-icon class="text-white">code</mat-icon>
      <h4 class="font-weight-bold text-white m-0">Desarrollado por 8: <small>Ruben Dario Guzman Gonzalez</small></h4>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <mat-icon class="text-white copyleft">copyright</mat-icon>
      <p class="text-white">Todos los derechos garantizados</p>
    </div>
  </div>
</footer>
