<mat-toolbar class="d-flex justify-content-between sticky-top">
  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" class="d-none">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav" *ngFor='let info of informacion'>
    <a class="nav-link py-0" href="#">{{info}}</a>
  </nav>

  <button class="btn btn-outline-primary">Descargar curriculum</button>
</mat-toolbar>

<mat-divider></mat-divider>

<h3 class="text-center text-white py-2 bg-primary">Presentacion personal Ruben Dario Guzman Gonzalez</h3>
<div class="container d-flex">
  <button mat-flat-button color='accent' *ngIf='!sideNav.opened' (click)="sideNav.toggle()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <mat-drawer-container class="row pr-2" autosize>
    <mat-drawer opened='true' #sideNav class="col-3 bg-dark" mode="side">      
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-thumbnail d-block mx-auto rounded-circle" alt="Photo of a Shiba Inu">
      <p class="text-center text-white">{{nombre}}</p>
      <button mat-raised-button color='accent' (click)="sideNav.toggle()"
        class="d-block mx-auto">Ocultame</button>
    </mat-drawer>

    <mat-accordion class="col-9" multi>
      <mat-expansion-panel [expanded]='true' (opened)="aboutMe.viewMore = true" (closed)="aboutMe.viewMore = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 class="font-weight-bold">{{informacion[0]}}</h4>
          </mat-panel-title>
          <mat-panel-description class="justify-content-end">
            <span>Ver {{aboutMe.viewMore ? 'menos': 'mas'}}...</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{aboutMe.title}}</p>
        <p>{{aboutMe.description}}</p>
        <p>{{aboutMe.conclusion}}</p>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true" (opened)="personalData.viewMore = true" (closed)="personalData.viewMore = false" class="personalInfo">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 class="font-weight-bold">{{informacion[1]}}</h4>
          </mat-panel-title>
          <mat-panel-description class="justify-content-end">
            <span>Ver {{personalData.viewMore ? 'menos': 'mas'}}...</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex inline-flex">
          <mat-icon>emoji_people</mat-icon><h3 class="font-weight-bold">Nombres: <small>{{personalData.fullName}}</small> </h3> 
        </div>
        <div class="d-flex inline-flex">
          <mat-icon>outlined_flag</mat-icon><h3 class="font-weight-bold">Pais de origen: <small>{{personalData.country}}</small></h3>
        </div>
        <div class="d-flex inline-flex">
          <mat-icon>location_city</mat-icon><h3 class="font-weight-bold">Ciudad de residencia: <small>{{personalData.city}}</small></h3>
        </div>
        <div class="d-flex inline-flex">
          <mat-icon>school</mat-icon><h3 class="font-weight-bold">Estudios realizados: <small>{{personalData.carrer}}</small></h3>
        </div>
        <div class="d-flex inline-flex">
          <fa-icon [icon]='iconUniversity' size='lg'></fa-icon><h3 class="font-weight-bold">Universidad: <small>{{personalData.university}}</small></h3>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]='true' (opened)="skills.viewMore = true" (closed)="skills.viewMore = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 class="font-weight-bold">{{informacion[2]}}</h4>
          </mat-panel-title>
          <mat-panel-description class="justify-content-end">
            <span>Ver {{skills.viewMore ? 'menos': 'mas'}}...</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lenguajes y plataformas basicas para el desarrollo de aplicaciones web</p>
        <div class="row justify-content-around">
          <div *ngFor="let att of skills.basics | objToArray" class="col-auto text-center">
            <fa-icon [icon]="att.logo" size='3x'></fa-icon><br>
            <span>{{att.name}}</span>
          </div>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]='true'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="font-weight-bold">Framesworks y librerias</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Relacion de las principales herramientas para el desarrollo e implementacion de paginas y aplicativos web mas utilizados </p>
        <div class="row justify-content-around">
          <div *ngFor="let att of skills.framesworksAndLibraries | objToArray" class="col-auto text-center">
            <fa-icon [icon]="att.logo" size='3x'></fa-icon> <br>
            <span>{{att.name}}</span>
          </div>
        </div>
      </mat-expansion-panel>
      
      <mat-expansion-panel [expanded]='true'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="font-weight-bold">{{informacion[3]}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row justify-content-around">
          <div class="col-auto text-center">
            <fa-icon [icon]="iconLinkedIn" size='3x'></fa-icon> <br>
            <span>LinkedIn</span>
          </div>
          <div class="col-auto">
            <fa-icon [icon]="iconGitHub" size='3x'></fa-icon> <br>
            <span>GitHub</span>            
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]='true'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="font-weight-bold">{{informacion[4]}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]='formContact' (ngSubmit)='contactMe()' class="row justify-content-between">
            <div class="col-6">
              <mat-form-field appearance="standard">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Ingresa tus nombres" formControlName='fullName'>
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="standard">
                <mat-label>Correo electronico</mat-label>
                <input matInput placeholder="Ingresa tu email" formControlName='email'>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="standard">
                <mat-label>Numero telefonico</mat-label>
                <input matInput placeholder="Ingresa tu numero telefonico" formControlName='email'>
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="standard">
                <mat-label>Elige una opcion</mat-label>
                <mat-select formControlName='matters'>
                  <mat-option *ngFor='let v of matters' [value]='v'>{{v}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="standard">
                <mat-label>Deja tus comentarios</mat-label>
                <textarea matInput formControlName='comments'></textarea>
              </mat-form-field>
            </div>
            <button mat-raised-button color='primary' type="submit">Enviar</button>
          </form>
      </mat-expansion-panel>
    </mat-accordion>
    
  </mat-drawer-container>
</div>
